
body {
    background: linear-gradient(180deg ,white, mistyrose, pink);
    font-family: 'Segoe UI', sans-serif;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}


.container {
    background-color: rgba(255, 255, 255, 0.85);
    padding: 20px;
    border-radius: 12px;
    margin-top: 30px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

